.navbar-brand{
    position: relative;
    top:-50px;
    
}
.navbar{
    background-color: lightgray !important;
    position: fixed !important;
    z-index: 1;
    
}

.para{
    font-family: sans-serif;
}
.nav{
    display: inline;  
}
.navi{
    position:fixed;
    height: 100px;
    
    /* background-color: rgb(236, 236, 236); */
    border-radius: 10px;

}
.naveBtn{
   width: 80%;
}
.navi ul{
    
    position: relative;
    top: -100px;
}
.logo img {
    width: 200px;
    
   position: relative;
   top: 65px;
}
#nav{
    margin-left: 300px;
    

}
.nav a{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    margin: 0em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
   
}
 .nave1 a:hover{
    background-color: royalblue;
    color: white !important;
    
    border-radius: 50px;
   
}

.slide{
    
    max-width: 90%;
   min-height: height 200px;
    margin-left: 50px;
    margin-top: 0px;
}

  
  

h1{
    margin-top: 200px;
    text-align: center;
    font-family:  serif;
}
.intro
{
    color: green;
}
.duction{
    color: royalblue;
    margin-left: 0px;
}
.para{
    text-align: justify;
    color: grey;
    margin-left: 5%;
    margin-right: 5%;
}
.pic{
   margin-left: 45%;
   width: 50px;

   
}
.picp{
    display: inline;
    font-weight: bolder;
    color: green;
    
}
.dash{
    position: relative;
    left: 45%;
}
.nave{
    display: table-row-group;
    background-color: royalblue;
    height: 300px;
    color: white;

    
}
.nav2 img{
    width: 40px;
    position: relative;
    top:0px;
    margin-left: 20px;
   
    
}
.nav2{
    margin-left: 50px;
    display: inline-block;
    margin-top: 70px;
   min-width: width 220px;
    background-color: royalblue;
   
}
.nav2 h2{
    font-size: 3em;
    font-family:   serif;
}
.nav2 p .month{
    color:#00FF00;
    font-size: 20px;
}
.nav2 p{
    font-weight: 600;
}
h3{
    font-size: 2em;
    text-align: center;
}
.dash2{
    background-color: lightgrey;
    display: flexbox;
}
.table{
    background-color: white !important;
    display: inline-block !important;
    width: 25% !important;
    margin: 20px !important;
    height: 200px !important;
    min-width: 40%;
    
}
/* .table {
    width: 33% !important;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
} */
.table img{
    width: 70px;
    position: relative;
    top: 30px;
    left: 46%;
   
}
.table h3{
    font-size: 22px;
    margin-top: 40px;
    color: royalblue;
}
.project img{
    width: 32px;
    position: relative;
    left: 10px;
    position: relative;
    top: 15px;
    

}
.pro{
    display: inline-block;
    width: 360px;
    height: 73px;
    font-size: 25px;
    background-color: #f7f8fa;
    border-color:lightgrey ;
    
}
h4{
    font-size: 24px;
    color: royalblue;
    position: relative;
    left:50px;
}
.pro h5{
    position: relative;
left: 60px;
top: -12px;
}
.imageh{
    color: royalblue;
}
.galh{
    color: green;
}
.foot{
    background-color: royalblue;
    position: relative;
    top: 50px;
    height: 50px;
}
